@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

#sec2{
    
    
    background: #cdd9c2;

}



.txt-1{
    width: 100%;
    text-align: center;
    font-size: 2.1rem;
    
}
.txt-2{
    font-family: "Open Sans", sans-serif;
    font-size: 1.9rem;
    
    
    margin-top: .2rem;

    color:#849790
}

.txt-3{
    font-family: "Open Sans", sans-serif;
    margin-top: 2.3rem;
    font-size: 2.3rem;
    margin-left: 7rem;

}


#c-p{
    text-decoration: none;
    color:white;
    margin-top: 1rem;
  }
  #c-p:hover{
    padding: 10px;
    transition-duration:600ms;
    color:#849790;
    
    background: linear-gradient(#cdd9c2, #cdd9c2) white no-repeat 0 0;
    background-size: 0 100%;
    animation: stripes 2s linear 1 forwards;
  }
  @keyframes stripes {
      to{
          background-size: 100% 100%;
      }
  }
  .c-player{
    display:none;
  }
  .c-player.active{
      display:block;
      transition-duration: 500ms;
  }

  .c-text{
    display:none;  
  }
  .c-text.active{
    display:flex;
    transition-duration: 500ms;
  }

  #sec2:hover .c-p:hover{
    mix-blend-mode: multiply;
}


#my-playlist{
    background-color: #131313;
    opacity: 50;
    font-family: 'Roboto', sans-serif;
}


.my-playlist-main{
    background-color: #292727;
    overflow: hidden;
}

.list-group-item.activated{
    background-color: #ed4f46;
    color:lightsteelblue;
}

.list-group-item{
    background-color: #666666;
    
}

.plist-menu{ 
    background-color: #1d1d1d;
}
.plist-menu:hover{
    background-color: #353535;
}

.plist-menu .addPlbtn{
    color: #ed4f46;
    font-weight:bold;
}

.plist-menu .addPlbtn:hover{
    color:#ff8882
}

.m-nav-item{
    
    list-style: none;
    display: inline-block;
    margin: .5rem;
    /* border-right: 1px solid #cdd9c2 ; */
    padding: .2rem;
}
.m-nav-item a{
    text-decoration: none;
    color:#ed4f46;
}


span > li{
    list-style: none;
    display: none;

    
}

@keyframes slideFromUpper {
    0%{transform: translateX(100%);}
    80%{transform: translateX(-20%)}
    100%{transform: translateX(0%);}
}

.list-group-item-playlist.activated+span > li{
    list-style: none;
    display: inline-block;
    font-size: 0.9rem;
    animation: 1s ease-in 0s 1 slideFromUpper;   
}


span > li > a{
    all:unset;
    color:#ed4f46;
    
}
span > li > a:hover{
    color: #faaeaa;
    cursor: pointer;
}
.my-closer:after{
    font-size: 1.2rem;
    color:white;
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
  }


  .shuffle-label{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color:#ed4f46;
    font-weight: bold;
  }

  #pl-l-group{
      scroll-behavior: smooth;
      max-height: 40vh;
      overflow-y: auto;
      overflow-x: hidden;
      overscroll-behavior-y: contain;
  }

.player-option{
    display:inline-block;
}
  ul.player-option > li{
      display: inline-block;
      list-style: none;
    
  }
  ul.player-option > li > a {
      font-size: 2rem;
      text-decoration: none;
      cursor: pointer;
      color:#ed4f46;
  }



  #pl-l-group::-webkit-scrollbar { width: 8px; height: 3px;}
  #pl-l-group::-webkit-scrollbar-button { height: 3px;  background-color:  #000; }
  #pl-l-group::-webkit-scrollbar-track {  background-color: #ed4f46;}
  #pl-l-group::-webkit-scrollbar-track-piece { background-color: #000;}
  #pl-l-group::-webkit-scrollbar-thumb {background-color: #ed4f46; border-radius: 3px;}
  #pl-l-group::-webkit-scrollbar-corner {background-color: #ed4f46;}
  #pl-l-group::-webkit-resizer { background-color: #ff8882;}